html,
body {
	font-family: "Microsoft Yahei", "simhei";
    height: 100%;
	min-width: 320px;
	background: #fff8f8;
	overflow-y: auto;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 36px;
}

.footer .show {
	margin: 12px;
	text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content:
    /*"\e113"*/

    "\e151";
}

a.desc:after {
    content:
    /*"\e114"*/

    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}
/* Media-List */

.media-list {
    list-style: none;
}

.media-list > li {
    position: relative;
    margin: 0.2em;
    margin-bottom: 1.8em;
    width: 12em;
    float: left;
}

.media-list > li > a {
    position: relative;
    display: block;
    width: 12em;
    height: 18em;
    color: #555;
    padding: 0.5em;
    text-decoration: none;
    border: solid 1px #eee;
    background-color: #ffe6e6;
    transition: all 0.3s;
}

.media-list > li > a:hover {
    color: #333;
    background-color: #fee;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.media-list > li .media-content {
    text-align: center;
}

.media-list > li .media-header {
    color: #333;
    margin: 4px 0;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s;
}

.media-list > li > a:hover .media-header {
    color: black;
}

.media-list > li .media-meta {
    position: absolute;
    right: 8px;
    bottom: 8px;
    text-align: right;
}

.media-list > li .media-meta,
.media-list > li time {
    display: block;
    margin: 0;
    font-size: 0.85em;
}

.media-list .categories {
    height: 1.5em;
    position: absolute;
    background-color: #fee;
    width: 100%;
    z-index: 999;
    border: solid 1px #ddd;
    border-top: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: opacity 0.3s;
}

.media-list > li:hover .categories {
    height: auto;
}

.wx-rb:before,
.wx-rb:after,
.clear:before,
.clear:after {
    content: ' ';
    display: block;
    clear: both;
}

.nav-sort a,
.categories a {
    display: block;
    float: left;
    line-height: 1.2em;
    font-size: 0.85em;
    color: black;
    background-color: #fdd;
    text-decoration: none;
    padding: 0.1em 0.3em;
    margin: 0.1em;
    border: solid 0.1em #aaa;
    border-radius: 4px;
    overflow: visible;
    transition: all 0.3s;
}

.categories a.active,
.categories a:hover {
    color: white;
    background-color: #600;
    border: solid 0.1em black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.search .reset,
.categories .del {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px;
}

.search .reset:hover,
.categories .del:hover {
    background-color: #eee;
    border: solid 1px #faa;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
    color: red;
}

.nav-sort a.active,
.nav-sort a:hover {
    color: white;
    background-color: #600;
    border: solid 0.1em black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.nav-sort.asc a.active:after {
    display: inline;
    content: ' ↑';
}

.nav-sort.desc a.active:after {
    display: inline;
    content: ' ↓';
}

.search .form-control {
    width: auto;
    float: right;
}

.filter {
    margin: 8px;
}

.filter span {
    font-weight: bolder;
}

.carousel-caption {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}


.breadcrumb {
    background-color: #fee;
}

.img_box2 {
    float: right;
}

.img_box2 a {
	border: none!important;
}

.wx-rb {
    padding: 12px;
    background: #ffe6e6;
    margin: 12px;
}

.txt-box h4 {
    font-size: 16px;
}
/* About */

.site-about .banner {
    position: relative;
    text-align: center;
}

.site-about .banner img {
    z-index: 1;
}

.site-about .banner .content {
    position: absolute;
    width: 100%;
    top: 50%;
	margin-top: -60px;
	height: 160px;
	color: white;
    padding: .5em;
    z-index: 999;
    text-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.site-about .banner h2 {
	margin-bottom: .6em;
}
@media only screen and (min-width: 768px) {
	.site-about .banner h1 {
		font-size: 4em;
	}
	.site-about .banner h2 {
		font-size: 3em;
	}
	.site-about .banner p {
		font-size: 1.5em;
	}
}

.intro {
	font-family: "simsun";
}

.intro .img-responsive {
	box-shadow: 0 0 12px rgba(0,0,0,0.6);
	margin-bottom: 32px;
	margin-top: 16px;
}

@media only screen and (max-width: 767px) {
	.intro {
		font-size: 1.1em;
	}
	.intro .p {
		padding: 12px 16px;
	}
}
@media only screen and (min-width: 768px) {
	.intro {
		font-size: 1.6em;
	}
	.intro .p {
		padding: 32px 64px;
	}
}

.intro .p {
	background: #eee;

}

.intro .p2 {
	background: #fee;
}

.intro h2,
.intro h1 {
	font-family: "Microsoft Yahei", "simhei";
	margin-top: .8em;
	margin-bottom: .8em;
}

/* weibo */

.weibo li:hover .weibo-logo {
	border: solid 2px #ddd;
}
.weibo-logo {
	width: 64px;
	height: 64px;
	border-radius: 64px;
	border: solid 4px #eee;
	transition: all .2s;
}

.weibo {
	padding: 0;
	list-style: none;
}

.weibo li {
	display: block;
}
@media only screen and (min-width: 768px) {
	.weibo li {
		float: left;
		width: 50%;
	}
}

/* site-index */
.site-index h2 {
	color: rgb(0,77,161);
	margin-bottom: 1em;
}


/* nav */

.navbar-inverse {
    opacity: 0.85;
    background-color: #b40001;
    border-color: #640000;
}

.navbar-inverse .navbar-toggle {
    border-color: #640000;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #500;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #500;
}

@media (max-width: 767px) .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ddd;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}

/* slider */
.carousel-inner .item {
	max-height: 600px;
}

/* Message media */

.site-message .media-meta {
	display: none!important;
}

.media-list img {
	width: 100%;
	height: 8em;
}
.site-message .media-list > li > a,
.site-message .media-list > li {
	width: 19em;
}
.site-message .media-list > li > a {
	height: 15em;
}

@media only screen and (max-width: 992px) {
	.footer .container > p {
		clear: both;
		display: block;
		float: none!important;
		margin: 1.9em auto;
		text-align: center;
	}
}
@media only screen and (max-width: 620px) {
	.footer .show {
		float: none!important;
		margin: 1.9em auto;
	}
}
@media only screen and (max-width: 380px) {
	.media-list > li {
		float: none;
		margin: 1.9em auto;
	}
}
@media only screen and (max-width: 599px) {
	.site-message .media-list > li {
		float: none;
		margin: 1.9em auto;
	}
}
@media only screen and (max-width: 991px) and (min-width: 600px) {
	.site-message .media-list {
		padding-left: 50%;
		width: 150%;
	}
	.site-message .media-list > li {
		margin-left: -20em;
		margin-right: 21em;
	}
}

.message-index table td a {
	max-width: 300px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#wxbox {
    width: 100%;
    height: 768px;
    padding-left: 16px;
    background:white;
    overflow-x: hidden;
    border: solid 1px #fcc;
}

/************************************************/
/* Update  2017.1.17 				*/
/************************************************/

.color-block {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    font-size: 1.4em;
    border-radius: 6px;
    cursor:pointer;
    transition: all 0.4s;
}

.color-block:hover, .color-block:visited, .color-block:focus {
    text-decoration: none;
}

.color-block.weibo {
    background: #fee;
    color: #f00;
}

.color-block.weibo:hover {
    background: #f33;
    color: #fff;
    box-shadow: 0 0 12px #d66;
}

.color-block.wechat {
    position: relative;
    background: #efe;
    color: #0a0;
}

.wechat-outer:hover .color-block.wechat{
    width: 250px;
    box-shadow: 0 0 12px #6a6;
}

.color-block.wechat .content {
    opacity: 1;
    transition: all 0.4s;
}

.color-block.wechat .qrcode {
    position: absolute;
    top: 0;
    left: -125px;
    margin-left: 50%;
    width: 250px;
    height: 250px;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.4s;
}
.wechat-outer:hover .color-block.wechat .qrcode {
    opacity: 1;
}


.site-index h2 {
    line-height: 2em;
    margin-left: 12px;
    text-align: center;
    font-weight: bolder;
}

.site-index h2 i{
    color: #a22;
}

.site-index h3 {
    margin-bottom: 1em;
}

.site-index video {
    margin: 8px;
    height: 300px;
}

.news-card {
    background: #fafafa;
    padding: 32px;
    margin: 8px 2px;
    border-radius: 16px;
    box-shadow: 0 0 4px #ccc;
    transition: all 0.2s;
}

.news-card:hover {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 12px #aaa;
}

.news-card h4, .news-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-card .btn {
    margin: 8px;
}

.social-list a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
    transition: all 0.2s;
}

.social-list a:hover {
    box-shadow: 0 0 2px #666;
    border-radius: 6px;
    background: #fff;
}

.social-list a img{
    position: absolute;
    left: -64px;
    margin-left: 50%;
    bottom: 0;
    width: 128px;
    height: 0;
    padding: 4px;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    background: white;
    opacity: 0;
    transition: 0.4s;
    z-index: 999;
}
.social-list a:hover img {
    height: 128px;
    opacity: 1;
}

.social-list i.fa-wechat {
    color: green;
}
.social-list i.fa-weibo {
    color: red;
}
